<!DOCTYPE html>
<html>

<head>
    <title>Add Supply</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <style>
        label
        {
            min-width: 150px;
        }
        .spacer
        {
            height: 30px;
        }
        input[type=number]
        {
            max-width: 40px;
        }
    </style>

    <script>
        $( document ).ready(function()
        {
            $( "#supply-form" ).submit(function( event )
            {
                $("#submit-button").attr('disabled', 'disabled');
            });
        });
    </script>
</head>

<body>
    <h2> Supply Form </h2>

    <form id="supply-form" action="/addSupply" method="post">
        <label for="supply_name"> Supply Name: </label>
        <input type="text" id="supply_name" name="supply_name" value="">
        <div class="spacer"></div>

        <label for="supply_brand"> Supply Brand: </label>
        <input type="text" id="supply_brand" name="supply_brand" value="">
        <div class="spacer"></div>

        <label for="supply_color"> Supply Color: </label>
        <input type="text" id="supply_color" name="supply_color" value="">
        <div class="spacer"></div>

        <label for="supply_quantity"> Supply Quantity: </label>
        <input type="number" id="supply_quantity" name="supply_quantity" value="">
        <div class="spacer"></div>

        <label for="supply_type"> Supply Type: </label>
        <select name="supply_type">
            <option value="PEN">Pen</option>
            <option value="PENC">Pencil</option>
            <option value="PAPER">Paper</option>
        </select>
        <div class="spacer"></div>

        <input type="radio" name="in_stock" value="Y"> In Stock
        <input type="radio" name="in_stock" value="N"> Out of Stock
        <div class="spacer"></div>

        <input type="checkbox" name="is_backordered" value="Y"> On Backorder?
        <div class="spacer"></div>

        <label style="display:block;" for="notes">Special Notes for this Item </label>
        <textarea id="notes" name="notes" rows="4" cols="50">
        </textarea>
        <div class="spacer"></div>

        <input id="submit-button" type="submit" value="Submit">
    </form>
</body>

</html>